@use "./variable";

.ebr_input {
  position: relative;
  display: flex;
  background-color: var(--bg-secondary-faded);
  padding: 13px;
  border-radius: 32px;
  overflow: hidden;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  transition: background-color ease-in-out 0.3s;
  justify-content: space-between;

  button {
    color: var(--font-secondary);
    border-radius: 100%;
    padding: 6px;
    z-index: 3;
  }

  & > input {
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0 13px 0 55px;
    font: inherit;
    color: var(--font-secondary);
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: background-color ease-in-out 0.3s;

    &:focus {
      background: var(--bg-tertiary-faded);
    }

    &::placeholder {
      color: var(--font-secondary-faded);
    }
  }
}

.ebr_form {
  display: flex;
  width: 100%;
}

.ebr_button {
  padding: 4px;
  border-radius: 8px;
  transition: color ease-in-out 0.1s, background-color ease-in-out 0.1s;
  &:hover, &:focus-visible {
    background: rgba(0, 0, 0, 0.1);
    color: var(--font-secondary-hover);
  }
}