.ebr_form-control {
  display: flex;
  flex-direction: column;

  > label {
    margin-bottom: 4px;
  }
}

.ebr_input-container {
  position: relative;
  border-radius: 8px;
  width: 100%;
  transition: background-color ease-in-out 0.3s;

  label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  button {
    position: absolute;
    top: calc(50% - 0.875rem);
    border-radius: 100%;
    padding: 6px;
    z-index: 3;
  }

  button.ebr_input-icon {
    left: 0.275rem;
    color: var(--bg-secondary-faded);
  }

  button.ebr_input-reset {
    right: 0.275rem;
  }

  & > input {
    background: none;
    box-sizing: border-box;
    padding: 10px 1.875rem;
    font: inherit;
    font-size: 0.875rem;
    border: solid 2px var(--bg-secondary-faded);
    outline: none;
    width: 100%;
    border-radius: 6px;
    transition: background-color ease-in-out 0.3s;

    &:focus {
      background: var(--bg-fifth);
    }

    &::placeholder {
      color: var(--bg-secondary-faded);
    }
  }
}

.ebr_input-error {
  margin: 0;
  color: var(--font-accent-red);
}

.ebr_form {
  width: 100%;

  .ebr_form-menu {
    > *:not(:first-child) {
      margin-top: 10px;
    }
    h2 {
      font-size: 0.875rem;
      font-weight: 600;
      margin: 16px 0 0;
    }
  }

  > :not(:last-child) {
    margin-bottom: 14px;
  }
}

.ebr_layout-browse-form {
  display: flex;
  flex-direction: column;

  button.ebr_submit-action {
    order: 0;
    justify-content: center;
    margin-top: 16px;
  }

  > *:not(button.ebr_submit-action) {
    order: 1;
  }
}

.ebr_dropdown-control {
  transition: background-color ease-in-out 0.2s;
  border-radius: 8px;
  position: relative;
  border: solid 2px var(--bg-secondary-faded);
  box-sizing: content-box;

  &[data-expanded="true"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    > .ebr_dropdown-title-button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    > .ebr_dropdown-content {
      display: block;
    }
  }

  > .ebr_dropdown-title-button {
    font-size: 0.875rem;
    display: flex;
    align-self: center;
    justify-content: space-between;
  }

  &:not(.value-selected) > .ebr_dropdown-title-button {
    color: var(--bg-secondary-faded);
  }

  > .ebr_dropdown-title-button, > .ebr_dropdown-content button {
    padding: 10px 12px;
    width: 100%;
    border-radius: 8px;
    margin: 0;
    transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;

    &:hover, &:focus-visible {
      background: rgba(0, 0, 0, 0.1);
      color: var(--font-secondary-hover);
    }

    svg {
      transition: transform ease-in-out 0.1s;
    }
  }

  > .ebr_dropdown-content {
    display: none;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: solid 2px var(--bg-secondary-faded);
    background: var(--bg-primary);
    padding: 0;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    max-height: 300px;
    overflow: auto;
    box-sizing: border-box;

    .ebr_dropdown-remove-icon {
      color: var(--font-accent-red);
    }

    button {
      font-size: 0.875rem;
      text-align: start;
      width: 100%;
      border-radius: 0;

      &[aria-selected="true"] {
        background: var(--bg-tertiary);
        &:hover, &:focus-visible {
          background: var(--bg-tertiary-faded);
          color: var(--font-secondary-hover);
        }
      }
    }
  }
}

.ebr_dropdown-search-field {
  position: relative;
  display: flex;
  padding: 8px;

  & > input {
    flex-grow: 1;
    padding: 8px;
    font: inherit;
    font-size: 0.875rem;
    border-radius: 2px;
    border: none;
    outline: none;
    transition: background-color ease-in-out 0.3s;

    &:focus {
      background: var(--bg-tertiary-faded);
    }
  }

  svg {
    position: absolute;
    top: 35%;
    right: 6%;
  }
}

.ebr_slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .ebr_slider-minval {
    text-align: start;
    margin-right: auto;
    width: 65px;
  }

  > .ebr_slider-control {
    width: 180px;

    .MuiSlider-thumb {
      color: var(--font-quaternary);
      &:hover {
        color: var(--font-secondary-hover);
        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.16);
      }
    }
    .MuiSlider-track {
      color: var(--font-accent-orange);
    }
    .MuiSlider-rail {
      color: var(--bg-secondary-faded);
    }
  }

  > .ebr_slider-maxval {
    text-align: end;
    margin-left: auto;
    width: 65px;
  }
}
