.ebr_layout {
  position: relative;

  > header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    justify-content: space-between;

    background-image: var(--bg-header);

    .ebr_header-left, .ebr_header-right {
      display: flex;
      align-items: center;
    }

    .ebr_header-left {
      gap: 32px;
      flex: 1;
      .ebr_input {
        label {
          margin: 0;
        }
        input {
          background-color: var(--bg-primary);
          border: none;
          border-radius: 32px;
          width: 30%;
          padding-left: 2.2rem;
        }
        .ebr_input-icon {
          top: calc(50% - 1rem);
        }
      }
    }

    .ebr_header-right > button, .ebr_header-right .ebr_dropdown-control > .ebr_dropdown-title-button {
      color: var(--font-secondary);
      padding: 10px 12px;
      font-weight: 300;
      font-size: 1rem;
    }
  }

  > .ebr_layout-content {
    display: flex;
    min-height: 100vh;
    flex: 1;

    > .ebr_layout-aside {
      box-sizing: border-box;
      padding: 0 16px 0 32px;
      width: 300px;
      box-shadow: 0 4px 42px 0 rgba(0, 0, 0, 0.25);
      transition: margin-left ease-in-out 0.2s;

      > h1 {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        justify-content: space-between;
      }

      .ebr_layout-aside-toggle > svg {
        transition: transform ease-in-out 0.2s;
      }

      .ebr_layout-aside-content {
        transition: opacity ease-in-out 0.2s;
      }

      &[data-open="false"] {
        .ebr_layout-aside-toggle > svg {
          transform: rotate(-180deg);
        }
        .ebr_layout-aside-content {
          opacity: 0;
        }
      }

    }

    > main {
      flex: 1;
      padding: 32px;
    }

    > .ebr_layout-aside, > main {
      padding-top: 120px;
    }
  }
}
