@use "form";
@use "layout";

.ebr_button {
  border-radius: 8px;
  transition: color ease-in-out 0.1s, background-color ease-in-out 0.3s;

  &:not(:disabled):hover, &:not(:disabled):focus-visible {
    background: rgba(0, 0, 0, 0.1);
    color: var(--font-secondary-hover);
  }
}

.ebr_button-filled {
  background: var(--bg-tertiary);
  flex: 0 1;
  &:not(:disabled):hover, &:not(:disabled):focus-visible {
    background: var(--bg-tertiary-faded);
    color: var(--font-secondary-hover);
  }
}

.ebr_button-sm {
  padding: 4px;
}

.ebr_button-md {
  padding: 10px 12px;
}

.ebr_button-lg {
  padding: 16px 20px;
}

.ebr_loader-cover-all {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  background-color: var(--bg-primary);

  display: flex;
  justify-content: center;
  align-items: center;

  .ebr_loader {
    font-size: 1.5rem;
  }
}

.ebr_loader {

  display: flex;
  align-items: center;
  gap: 10px;
}

.ebr_dropdown-menu {
  > .ebr_dropdown-title-button {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 8px;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  > .ebr_dropdown-content {
    display: none;
  }

  &[data-expanded="true"] {
    > .ebr_dropdown-title-button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    > .ebr_dropdown-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }
  }
}

.link {
  color: var(--font-accent-dblue);
}

.ebr_book-card {
  display: flex;
  padding: 10px;
  gap: 10px;
  border: solid 1px var(--bg-secondary-faded);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--bg-secondary-faded);
  transition: background-color ease-in-out 0.2s;

  &:hover {
    background-color: var(--bg-secondary-faded2);
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .ebr_book-card-prop {
    color: var(--font-primary-faded)
  }

  h2, p {
    margin: 0;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.75rem;
  }
}
