.ebr_button#form-advanced-search-btn {
  margin-top: 40px;
  margin-bottom: 8px;
  align-self: flex-start;
}

.ebr_welcome-header {
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/images/a-book-3480216_1920.jpg");
  background-size: cover;
  background-position-y: 70%;
  color: var(--font-secondary);
  align-items: center;
  padding: 60px 480px;
  height: 402px;
  transition: height ease-in-out 0.5s;

  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}

div.row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.ebr_welcome-form .ebr_input-with-icon {
  padding: 13px;
  border-radius: 32px;
  font-size: 1rem;

  button > svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  & > input {
    padding-left: 55px;
  }
}
